@import "compass";

//colors
$black: black;
$white:  white;
$color_thunderbird_approx: #b71c1c;
$red: red;
$color_silver_approx: #bdbdbd;
$color_gallery_approx: #eeeeee;

//fonts
$font_0: Josefin Slab;
$font_1: Wire One;
$font_2: Parisienne;
$font_3: Slabo 27px;


//size
$x-small: 320px;
$small: 500px;
$medium: 768px;

body {
  margin: 0;
}
.background-image {
background:linear-gradient(rgba(1,1,1, .4), rgba(1, 1, 1, .8)), url("https://images.unsplash.com/photo-1448613363487-bd9ad4974b7b?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=d9835c981e90980a92df2e81b45057d5");
position: absolute;
background-position: center;
background-size: cover;
  background-repeat: no-repeat;
  top:0;
  bottom:0;
  left:0;
  right:0;
  width: 100%;
  height: 100%;
	font-family: $font_0;
	margin: 0;
}

.heading-wrapper {
header {
	color: $white;
	text-align: center;
	font-size: 150px;
	margin-top: 70px;
	letter-spacing: 5px;
	font-family: $font_1;
	span {
		letter-spacing: 5px;
	}
	@media screen and (min-width: $x-small)  and (max-width: $small) {
		font-size: 75px;
	}
}
.sub-heading {
	text-align: center;
	color: $white;
	font-family: $font_2;
	font-size: 45px;
	margin-top: -24px;
  margin-bottom: 30px;
	@media screen and (min-width: $x-small) and (max-width: $small)  {
		font-size: 25px;
		margin-top: 5px;
    }
  }
}
.enter {
  margin: 0 auto;
  a {
    text-decoration: none;
    &:visited {
      text-decoration: none;
    }
  }
  button {
    text-transform: uppercase;
    background-color: transparent;
    border: none;
    box-shadow: 2px 2px 2px 2px #515151;
    padding: 10px 30px;
    text-align: center;
    color: $white;
    display: block;
    font-size: 30px;
    font-family: $font_0;
    transition: .2s ease-in-out .2s;
    &:hover {
      background-color: rgba(1, 1, 1, .5);
    }

  }

}
