body {
  background: black;
  font-family: "Josefin Slab";
  margin: 0;
}
nav .menu-tab {
  float: right;
  display: block;
  position: relative;
  margin-top: -50px;
  margin-right: 1%;
}
nav hr {
  width: 40px;
  border: 2px solid white;
}
.showing {
  list-style-type: none;
  text-align: center;
  background-color: white;
  padding: 10px;
  position: fixed;
  z-index: 100;
  margin-top: -70px;
}
.showing li {
  display: inline;
  padding: 10px;
  font-size: 20px;

}
.showing a {
text-decoration: none;
  color: black;

}
.showing a:hover {
  color: #B71C1C;
}
header {
  color: white;
  text-align: center;
  font-size: 150px;
  margin-top: 70px;
  letter-spacing: 5px;
  font-family: "Wire One";
}
header span {
  letter-spacing: 5px;
}
.sub-heading {
  text-align: center;
  color: white;
  font-family: "Parisienne";
  font-size: 45px;
  margin-top: -24px;
}
.main-wrapper {
   margin: 0 auto;
  width: 90%;
  background: white;
  height: 90%;

}
.about-wrapper {
  width: 90%;
  margin-bottom: 90px;
}
.about-wrapper h2 {
  padding-top: 40px;
  line-height: 50px;
  font-size: 30px;
  margin-left: 30px;
  font-size: 35px;
  font-family: "Parisienne";
}
.about-wrapper h2 span {
  font-size: 50px;
  border-bottom: 2px solid red;
}
about-wrapper h2, .about-wrapper p {
  width: 40%;
  display: inline-block;
  margin-left: 30px;
  font-family: "Slabo 27px";
}
.about-wrapper img {
  float: right;
  display: inline-block;
  padding: 2px;
  margin-top: -60px;
  border-radius: 50%;
  width: 250px;
  height: 250px;
  box-shadow: 2px 2px 2px 2px #BDBDBD;
}
.jumbo-content {
  position: relative;
}
.jumbo-content img {
  width: 100%;
  height: auto;
   -webkit-transform: skewY(-2.2deg);
  -moz-transform: skewY(-2.2deg);
  -ms-transform: skewY(-2.2deg);
  -o-transform: skewY(-2.2deg);
  transform: skewY(2.2deg);
  margin-bottom: -100px;
  display: inline;
  opacity: 0.6;
}
.jumbo-content h4 {
  position: absolute;
  color: black;
  margin-top: -400px;
  margin-left: 200px;
  display: block;
  font-size: 60px;
  border: 13px double white;
  padding: 20px;
}
.gallery {
  position: relative;
  padding: 10px;
  color: white;
  text-align: center;
  margin-top: 60px;

}

.gallery:before {
  content: '';
  position: absolute;
  left: 0;
  top: -26px;
  width: 100%;
  height: 60px;
  -webkit-transform: skewY(2.2deg);
  -moz-transform: skewY(2.2deg);
  -ms-transform: skewY(2.2deg);
  -o-transform: skewY(2.2deg);
  transform: skewY(2.2deg);
  -webkit-backface-visibility: hidden;
}
.images-scroll{
  overflow: scroll;
  height: 500px;
  display: hidden;
  right: 0;
}
.gallery h2 {
  font-size: 40px;
  font-family: "Parisienne";
  text-align: center;
  color: black;
}
.gallery h2 span {
  font-size: 60px;
  border-bottom: 2px solid white;
}
.row-1-photos img {
  display: inline;
  width: 375px;
  height: 300px;
  margin: 5Px 5px;
  box-shadow: 3px 2px 2px black;
  box-sizing: border-box;

}
 .row-2-photos img {
  display: inline;
  width: 375px;
  height: 300px;
  margin: 5Px 5px;
  box-shadow: 3px 2px 2px black;
  box-sizing: border-box;
}
 .row-3-photos img {
  display: inline;
  width: 375px;
  height: 300px;
  margin: 5Px 5px;
  box-shadow: 3px 2px 2px black;
  box-sizing: border-box;
}
.map {
  height: 300px;
}
.map-content {
  position: relative;
  float: left;
  width: 30%;
  margin-left: 30px;
}
.map-content h3 {
  font-family: "Parisienne";
  font-size: 40px;
  margin-bottom: 10px;
}
 iframe {
   position: relative;
  float: right;
  width: 50%;
   height: 270px;
   margin-top: 30px;
 }
.contact-wrapper {
  background: #B71C1C;
  color: white;
}
.contact-text {
  font-family: "Parisienne";
  font-size: 40px;
 text-align: right;
  margin-right: 140px;

}
.contact-text span {
  font-size: 45px;
}
form {
  background: #B71C1C;
text-align: right;

   margin-right: 70px;
 font-family: 'Slabo 27px';
  font-size: 20px;
}
form #name {
  width: 300px;
  height: 30px;
  margin-bottom: 3px;
  border: 2px solid #EEEEEE;
  border-radius: 5px;
  box-shadow: 1px 1px 1px #BDBDBD;
}
form #mail {
    width: 300px;
  height: 30px;
  margin-bottom: 3px;
  border: 2px solid #EEEEEE;
  border-radius: 5px;
  box-shadow: 1px 1px 1px #BDBDBD;

}
form #msg {
   width: 300px;
  height: 60px;
  margin-bottom: 10px;
  border: 2px solid #EEEEEE;
   border-radius: 5px;
  box-shadow: 1px 1px 1px #BDBDBD;

}
.button button {
  color: black;
background: white;
  padding: 5px 10px;
  font-size: 20px;
  border-radius: 3px;
  border: 1px solid #BDBDBD;
box-shadow: 1px 2px 2px #BDBDBD;
  margin-bottom: 10px;
 font-family: 'Slabo 27px';
}
.logo-bottom {
  background: #B71C1C;
  display: inline;
  float: left;
  margin-left: 30px;
}
.logo {
 font-size: 100px;
  line-height: 10px;
  letter-spacing: 5px;
  font-family: "Wire One";
  margin-bottom: 16px;
}
.logo-bottom h3 {
  position: absolute;
 font-family: 'Parisienne';
  font-size: 33px;

}
