/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
.about-wrapper p, about-wrapper h2 {
  width: 40%;
  display: inline-block;
  margin-left: 30px;
  font-family: Slabo 27px;
}

body {
  background-color: black;
  font-family: Josefin Slab;
  margin: 0;
}

nav {
  position: relative;
  text-align: center;
  margin: 0 auto;
}
nav .showing {
  margin: 0 auto;
  width: 100%;
  margin-top: -70px;
  list-style-type: none;
  text-align: center;
  padding: 10px;
  position: fixed;
  z-index: 100;
  color: white;
  background-color: black;
  opacity: 0.8;
}
nav .showing li {
  display: inline;
  padding: 30px;
  font-size: 15px;
}
@media screen and (min-width: 320px) and (max-width: 500px) {
  nav .showing li {
    padding: 3px;
  }
}
nav .showing .ver-break {
  font-size: 20px;
}
nav .showing a {
  text-decoration: none;
  color: white;
}
nav .showing a:hover {
  color: #b71c1c;
}

header {
  color: white;
  text-align: center;
  font-size: 150px;
  margin-top: 70px;
  letter-spacing: 5px;
  font-family: Wire One;
}
header span {
  letter-spacing: 5px;
}
@media screen and (min-width: 320px) and (max-width: 500px) {
  header {
    font-size: 75px;
  }
}

.sub-heading {
  text-align: center;
  color: white;
  font-family: Parisienne;
  font-size: 45px;
  margin-top: -24px;
}
@media screen and (min-width: 320px) and (max-width: 500px) {
  .sub-heading {
    font-size: 25px;
    margin-top: 5px;
  }
}

.main-wrapper {
  margin: 0 auto;
  width: 100%;
  background: white;
  height: 90%;
}

.about-wrapper {
  width: 100%;
  margin-bottom: 90px;
}
@media screen and (min-width: 320px) and (max-width: 500px) {
  .about-wrapper {
    margin: 0 auto;
    text-align: center;
    width: 100%;
  }
}
.about-wrapper h2 {
  padding-top: 40px;
  line-height: 50px;
  font-size: 30px;
  margin-left: 30px;
  font-size: 35px;
  font-family: Parisienne;
}
.about-wrapper h2 span {
  font-size: 50px;
  border-bottom: 2px solid red;
}
@media screen and (min-width: 320px) and (max-width: 500px) {
  .about-wrapper h2 {
    text-align: left;
  }
}
@media screen and (min-width: 320px) and (max-width: 500px) {
  .about-wrapper p {
    width: 90%;
    position: relative;
    margin-bottom: 50px;
    text-align: left;
  }
}
.about-wrapper img {
  float: right;
  display: inline;
  padding: 2px;
  margin-top: -50px;
  margin-right: 20px;
  width: 250px;
  height: auto;
  box-shadow: 2px 2px 2px 2px #bdbdbd;
}
@media screen and (min-width: 320px) and (max-width: 500px) {
  .about-wrapper img {
    float: none;
    width: 80%;
  }
}

/*.jumbo-content {
	position: relative;
@media screen and (min-width: $x-small) and (max-width: $small)  {
	display: none;
}
	img {
		width: 100%;
		height: auto;
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: skewY(1.2deg);
		display: inline;
		opacity: 0.6;
	}
	h4 {
		position: relative;
		color: $black;
		margin-top: -400px;
		margin-left: 200px;
		display: block;
		font-size: 60px;
		border: 13px double $white;
		padding: 20px;
	}
}
*/
.gallery {
  background-color: #d32f2f;
  position: relative;
  overflow: hidden;
  padding: 10px;
  color: white;
  margin-top: 150px;
  text-align: center;
}
@media screen and (min-width: 320px) and (max-width: 500px) {
  .gallery {
    margin-top: -10px;
  }
}
.gallery:before {
  content: '';
  position: absolute;
  background-color: #d32f2f;
  left: 0;
  top: -26px;
  width: 100%;
  height: 60px;
  transform: skewY(2.2deg);
}
.gallery h2 {
  font-size: 40px;
  font-family: Parisienne;
  text-align: left;
  color: white;
}
.gallery h2 span {
  font-size: 60px;
}
@media screen and (min-width: 320px) and (max-width: 500px) {
  .gallery h2 {
    width: 80%;
    margin: 10px auto;
    text-align: left;
  }
}
.gallery .images-scroll {
  height: auto;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.gallery img {
  position: relative;
  width: 250px;
  height: 200px;
  margin: -3px;
  padding: 0;
  display: inline-block;
  overflow: hidden;
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
@media screen and (min-width: 320px) and (max-width: 500px) {
  .gallery img {
    width: 30%;
    text-align: left;
    display: block;
  }
}
.gallery img:hover {
  transform: scale(1.1);
}

.map {
  height: 300px;
  background-color: #b71c1c;
}
@media screen and (min-width: 320px) and (max-width: 500px) {
  .map {
    display: block;
    text-align: left;
    margin: 0 auto;
    width: 100%;
    color: white;
  }
}

.map-content {
  position: relative;
  float: left;
  width: 30%;
  margin-left: 30px;
}
@media screen and (min-width: 320px) and (max-width: 500px) {
  .map-content {
    width: 90%;
    position: relative;
    text-align: left;
  }
}
.map-content h3 {
  font-family: Parisienne;
  font-size: 40px;
  margin-bottom: 10px;
}

iframe {
  position: relative;
  float: right;
  width: 50%;
  height: 270px;
  margin-top: 30px;
}
@media screen and (min-width: 320px) and (max-width: 500px) {
  iframe {
    width: 100%;
    display: block;
    margin-top: 0;
  }
}

.contact-wrapper {
  background: #b71c1c;
  color: white;
}

.contact-text {
  font-family: Parisienne;
  font-size: 40px;
  text-align: right;
  margin-right: 140px;
}
.contact-text span {
  font-size: 45px;
}

form {
  background: #b71c1c;
  text-align: right;
  margin-right: 70px;
  font-family: Slabo 27px;
  font-size: 20px;
}
form #name {
  width: 300px;
  height: 30px;
  margin-bottom: 3px;
  border: 2px solid #eeeeee;
  border-radius: 5px;
  box-shadow: 1px 1px 1px #bdbdbd;
}
form #mail {
  width: 300px;
  height: 30px;
  margin-bottom: 3px;
  border: 2px solid #eeeeee;
  border-radius: 5px;
  box-shadow: 1px 1px 1px #bdbdbd;
}
form #msg {
  width: 300px;
  height: 60px;
  margin-bottom: 10px;
  border: 2px solid #eeeeee;
  border-radius: 5px;
  box-shadow: 1px 1px 1px #bdbdbd;
}

.logo-bottom {
  background: #b71c1c;
  display: inline;
  float: left;
  margin-left: 30px;
}
.logo-bottom h3 {
  position: absolute;
  font-family: Parisienne;
  font-size: 33px;
}

.logo {
  font-size: 100px;
  line-height: 10px;
  letter-spacing: 5px;
  font-family: Wire One;
  margin-bottom: 16px;
}

.button button {
  color: black;
  background: white;
  padding: 5px 10px;
  font-size: 20px;
  border-radius: 3px;
  border: 1px solid #bdbdbd;
  box-shadow: 1px 2px 2px #bdbdbd;
  margin-bottom: 10px;
  font-family: Slabo 27px;
}
