/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
.about-wrapper p, about-wrapper h2 {
  width: 40%;
  display: inline-block;
  margin-left: 30px;
  font-family: Slabo 27px;
}

body {
  background: black;
  font-family: Josefin Slab;
  margin: 0;
}

nav {
  position: relative;
  text-align: center;
  margin: 0 auto;
}
nav .showing {
  margin: 0 auto;
  width: 100%;
  margin-top: -70px;
  list-style-type: none;
  text-align: center;
  padding: 10px;
  position: fixed;
  z-index: 100;
  color: white;
  background-color: black;
  opacity: 0.8;
}
nav .showing li {
  display: inline;
  padding: 30px;
  font-size: 15px;
}
nav .showing .ver-break {
  font-size: 20px;
}
nav .showing a {
  text-decoration: none;
  color: white;
}
nav .showing a:hover {
  color: #b71c1c;
}

header {
  color: white;
  text-align: center;
  font-size: 150px;
  margin-top: 70px;
  letter-spacing: 5px;
  font-family: Wire One;
}
header span {
  letter-spacing: 5px;
}
@media screen and (min-width: 320px) and (max-width: 500px) {
  header {
    font-size: 75px;
  }
}

.sub-heading {
  text-align: center;
  color: white;
  font-family: Parisienne;
  font-size: 45px;
  margin-top: -24px;
}
@media screen and (min-width: 320px) and (max-width: 500px) {
  .sub-heading {
    font-size: 25px;
    margin-top: 5px;
  }
}

.main-wrapper {
  margin: 0 auto;
  width: 90%;
  background: white;
  height: 90%;
}

.about-wrapper {
  width: 90%;
  margin-bottom: 90px;
}
@media screen and (min-width: 320px) and (max-width: 500px) {
  .about-wrapper {
    margin: 0 auto;
    text-align: center;
  }
}
.about-wrapper h2 {
  padding-top: 40px;
  line-height: 50px;
  font-size: 30px;
  margin-left: 30px;
  font-size: 35px;
  font-family: Parisienne;
}
.about-wrapper h2 span {
  font-size: 50px;
  border-bottom: 2px solid red;
}
@media screen and (min-width: 320px) and (max-width: 500px) {
  .about-wrapper h2 {
    text-align: left;
  }
}
@media screen and (min-width: 320px) and (max-width: 500px) {
  .about-wrapper p {
    width: 90%;
    position: relative;
    margin-bottom: 50px;
    text-align: left;
  }
}
.about-wrapper img {
  float: right;
  display: inline;
  padding: 2px;
  margin-top: -50px;
  width: 30%;
  height: auto;
  box-shadow: 2px 2px 2px 2px #bdbdbd;
}
@media screen and (min-width: 320px) and (max-width: 500px) {
  .about-wrapper img {
    float: none;
    width: 80%;
  }
}

.jumbo-content {
  position: relative;
}
@media screen and (min-width: 320px) and (max-width: 500px) {
  .jumbo-content {
    display: none;
  }
}
.jumbo-content img {
  width: 100%;
  height: auto;
  transform: skewY(1.2deg);
  margin-bottom: -100px;
  display: inline;
  opacity: 0.6;
}
.jumbo-content h4 {
  position: relative;
  color: black;
  margin-top: -400px;
  margin-left: 200px;
  display: block;
  font-size: 60px;
  border: 13px double white;
  padding: 20px;
}

.gallery {
  position: relative;
  padding: 10px;
  color: white;
  text-align: center;
  margin-top: 60px;
}
.gallery:before {
  content: '';
  position: absolute;
  left: 0;
  top: -26px;
  width: 100%;
  height: 60px;
  transform: skewY(2.2deg);
}
.gallery h2 {
  font-size: 40px;
  font-family: Parisienne;
  text-align: center;
  color: black;
}
.gallery h2 span {
  font-size: 60px;
  border-bottom: 2px solid white;
}
.gallery .images-scroll {
  overflow: scroll;
  height: 500px;
  display: hidden;
  right: 0;
}
.gallery .row-photos img {
  display: inline;
  width: 375px;
  height: 300px;
  margin: 5Px 5px;
  box-shadow: 3px 2px 2px black;
  box-sizing: border-box;
}
@media screen and (min-width: 320px) and (max-width: 500px) {
  .gallery .row-photos img {
    width: 90%;
    display: block;
  }
}

.map {
  height: 300px;
}

.map-content {
  position: relative;
  float: left;
  width: 30%;
  margin-left: 30px;
}
.map-content h3 {
  font-family: Parisienne;
  font-size: 40px;
  margin-bottom: 10px;
}

iframe {
  position: relative;
  float: right;
  width: 50%;
  height: 270px;
  margin-top: 30px;
}

.contact-wrapper {
  background: #b71c1c;
  color: white;
}

.contact-text {
  font-family: Parisienne;
  font-size: 40px;
  text-align: right;
  margin-right: 140px;
}
.contact-text span {
  font-size: 45px;
}

form {
  background: #b71c1c;
  text-align: right;
  margin-right: 70px;
  font-family: Slabo 27px;
  font-size: 20px;
}
form #name {
  width: 300px;
  height: 30px;
  margin-bottom: 3px;
  border: 2px solid #eeeeee;
  border-radius: 5px;
  box-shadow: 1px 1px 1px #bdbdbd;
}
form #mail {
  width: 300px;
  height: 30px;
  margin-bottom: 3px;
  border: 2px solid #eeeeee;
  border-radius: 5px;
  box-shadow: 1px 1px 1px #bdbdbd;
}
form #msg {
  width: 300px;
  height: 60px;
  margin-bottom: 10px;
  border: 2px solid #eeeeee;
  border-radius: 5px;
  box-shadow: 1px 1px 1px #bdbdbd;
}

.logo-bottom {
  background: #b71c1c;
  display: inline;
  float: left;
  margin-left: 30px;
}
.logo-bottom h3 {
  position: absolute;
  font-family: Parisienne;
  font-size: 33px;
}

.logo {
  font-size: 100px;
  line-height: 10px;
  letter-spacing: 5px;
  font-family: Wire One;
  margin-bottom: 16px;
}

.button button {
  color: black;
  background: white;
  padding: 5px 10px;
  font-size: 20px;
  border-radius: 3px;
  border: 1px solid #bdbdbd;
  box-shadow: 1px 2px 2px #bdbdbd;
  margin-bottom: 10px;
  font-family: Slabo 27px;
}
